.encabezado {
  position: relative;
  display: inline-block;

}

.texto_encabezado {
  position: absolute;
  margin-top: 270px;
  left: 30%;
  color: white;
  font-size: 50px;
  opacity: 1;
  font-style:italic;
  text-shadow: black 0.1em 0.1em 0.2em;

}

.texto_encabezado2 {
  position: absolute;
  top: 130px;
  left: 3%;
  color: white;
  font-size: 100px;
  font-style: italic;
  text-shadow: black 0.1em 0.1em 0.2em;
  opacity: 1;

}

.form_alojamiento{
  width: 900px;

}
