{% extends "AppCoder/padre.html" %} <!--la fuente de nuestros datos-->
    {% load static %}  <!--Toma lo que está dentro de la carpeta "static"-->
{% block contenidoQueCambia %}
<br><br>

  <div style="position: relative; align-content: center; align-items: center;">
    <h1 align="center" style="font-family:Georgia, 'Times New Roman', Times, serif">Cambiá tu contraseña</h1>
     <br>
    <h4 align="center" style="font-family:Georgia, 'Times New Roman', Times, serif"></h4>
  
    <div   align="center" width="1000px" height="700px">
    
    <br>
   
<form action="" method="POST", class="ui form">
 {% csrf_token %}
 {{ form.as_p}}
        <br><br>
        <input type="submit"  class="btn btn-success btn-lg" value="Confirmar">
        <br><br>
        </div>
        <br>
        
  </form>

</div>
    <br>
    <br>

{% endblock %}