<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autos</title>
</head>
<body>
    {% extends "AppCoder/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}

    <!-- Aqui va lo que cambia y lo asociado a la vista-->
    {% if miFormulario.error %}
    <p style="color:red;"> Estan mal los datos, revisar</p>

    {% endif %}
    <form action="buscar_auto" method="POST"> {% csrf_token %} 
    
        <!-- Acá esta la magia de Django-->
&nbsp;&nbsp;<p><strong>¿Estás buscando un auto? Selecciona las características que deseas que tenga: </strong></p>

        <table>
            {{miFormulario.as_table}}

        </table>
        <br>
        
    <input type="submit" value="Enviar" >
        
    </form>
        <br>
    
{% endblock %}
</body>
</html>