{% extends "AppCoder/padre.html" %} <!--la fuente de nuestros datos-->
    {% load static %}  <!--Toma lo que está dentro de la carpeta "static"-->
{% block contenidoQueCambia %}


    <br><br>

<div style="position: relative; align-content: center; align-items: center;">
    <h1 align="center" style="font-family:Georgia, 'Times New Roman', Times, serif">Perfil</h1>
     <br>
    
    <div   align="center" width="1000px" height="700px">
    
    <main role="main">
  <div class="container" style="background-color: rgba(255, 255, 255,0.6); border-radius: 2%;">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <br><br>
          <div align="center" class="row" style="margin-left:80px;">
            <!-- Previa del avatar -->
            <div align="left" class="col-md-2">
              {% if request.user.profile.avatar %}
                <img src="{{request.user.profile.avatar.url}}" class="img-fluid"  style="border-radius: 50%; width: 120px; height: 100px;">
                <p class="mt-1">¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
              {% else %}
                <img src="{% static 'AppCoder/assets/img/no_avatar.png' %}" class="img-fluid"  style="border-radius: 50%;">
              {% endif %}
            </div>
            
            <!-- Formulario -->
            <div align="left" class="col-md-10">
              <h3>Perfil</h3>
              <input type="file" name="avatar" class="form-control-file mt-3" id="id_avatar">
              <br>
              <p>Cuentanos algo sobre ti</p>
              {{ form.bio }} 
              <br>
                           
              <br><br>
              <p>Si quieres cambiar tu contraseña haz click <a href="{% url 'cambiar_password' %}">aquí</a></p>

              <div align="center" >
              <input type="submit" class="btn btn-success btn-lg" value="Actualizar" style="width: 130px; height: 50px;">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
  
</div>
    <br>
    <br>

{% endblock %}