    {% extends "AppCoder/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}

    <!-- Aqui va lo que cambia y lo asociado a la vista-->
    {% if miFormulario.error %}
    <p style="color:red;"> Estan mal los datos, revisar</p>

    {% endif %}
    <br><br>

<div style="position: relative; align-content: center; align-items: center;">
    <h1 align="center" style="font-family:Georgia, 'Times New Roman', Times, serif">Consultas</h1>
     <br>
    <h4 align="center" style="font-family:Georgia, 'Times New Roman', Times, serif">¿Tenés dudas o recomendaciones? Envianos tu consulta y te respondemos a la brevedad</h4>
  
    <div   align="center" width="1000px" height="700px">
    
    <br>
    <form action="" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %} 
    
        <div class="container" style="background-color: rgba(255, 255, 255,0.6); border-radius: 2%;">
        
        <label for='ubicacion'> Ubicacion </label>
        <input type='text' name='ubicacion' id='ubicacion'> <br><br>
        
        <label for='img_alojamiento'>img_alojamiento  </label>
        <input type='file' name='img_alojamiento' id='img_alojamiento'><br><br>
        
        <br><br>
        <input type="submit"  class="btn btn-success btn-lg" value="Enviar consulta">
        <br><br>
        </div>
        <br>
        <br><br>

        
    </form>
  
</div>
    <br>
    <br>


{% endblock %}
