{% extends "AppCoder/padre.html" %} <!--la fuente de nuestros datos-->
    {% load static %}  <!--Toma lo que está dentro de la carpeta "static"-->
{% block contenidoQueCambia %}


{% if articulos %}  
<br>
&nbsp;&nbsp;<h4 style="font-family:Arial, Helvetica, sans-serif;  margin-left:20px;">Los alojamientos disponibles en base a las características seleccionadas son:</h4>
<br>
 

    {% for articulo in articulos %}
        
 
        <div align="center">
        <h2>{{articulo.titulo}}</h2>
        </div>
        <br>
            
        <div  class="container">
        <ul>
            <img src="{{articulo.img_alojamiento.url}}"  width="700px" height="380px">
            <br><br>
            <li><strong>Ubicación:</strong>&nbsp;&nbsp;{{articulo.ubicacion}}</li>
            <li><strong>Precio diario:</strong>&nbsp;$&nbsp;{{articulo.precio_dia}}</li>
            <li><strong>Cantidad habitaciones:</strong>&nbsp;&nbsp;{{articulo.habitaciones}}</li>
            <li><strong>Cantidad de baños:</strong>&nbsp;&nbsp;{{articulo.baños}}</li>
            <li><strong>Balcón:</strong>&nbsp;&nbsp;{% if articulo.balcon is True %}
            Sí
            {% else %}
            No
            {% endif %}  </li>
            <li><strong>Pileta:</strong>&nbsp;&nbsp;{% if articulo.pileta is True %}
            Sí
             {% else %}
            No
            {% endif %}  </li>
            <li><strong>Apto mascotas:</strong>&nbsp;&nbsp;{% if articulo.mascotas is True %}
            Sí
             {% else %}
            No
             {% endif %}  </li>
            <li><strong>Máx. huéspedes:</strong>&nbsp;&nbsp;{{articulo.max_personas}}</li>
            <li><strong>Descripción:</strong>&nbsp;&nbsp;{{articulo.descripcion}}</li>
        </ul>
        </div>
    &nbsp;&nbsp;&nbsp;
    
    {% endfor %}
    

{% else %}
    <br><br><br>

    <h4  align="center" style="font-family:Arial, Helvetica, sans-serif;">No existen alojamientos disponibles con esas características</h4>

    <br><br><br>
{% endif %}


{% endblock %}