{% extends "AppCoder/padre.html" %} <!--la fuente de nuestros datos-->
    {% load static %}  <!--Toma lo que está dentro de la carpeta "static"-->
{% block contenidoQueCambia %}

    <!--Aqui se va a colocar lo que se cambia. Y está asociado a esta vista-->
   
    <br>
    <br>
    <h3 style="color:black; text-align:center"> Te has registrado correctamente</h3>
    <p style="color:black; text-align:center">Ya puedes loguearte y comenzar a planificar tu viaje</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% endblock %}