{% extends "AppCoder/padre.html" %} <!--la fuente de nuestros datos-->
    {% load static %}  <!--Toma lo que está dentro de la carpeta "static"-->
{% block contenidoQueCambia %}

    <!--Aqui se va a colocar lo que se cambia. Y está asociado a esta vista-->
    <br><br>
    <div class="container" style="position: relative; align-content: center; align-items: center;">
    <h1 align="center" style="font-family:Georgia, 'Times New Roman', Times, serif;">Sobre mí</h1>
    <br>
    
    <img src="{% static 'AppCoder/assets/img/sobremi.jpg' %}" style="margin-left:380px; border-radius: 100%; width: 330px; height: 300px;">
    <br><br>
    <p align="center" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 18px;">Mi nombre es Francisco Cubisino y soy un apasionado por el análisis de datos y la resolución de problemas. Aunque soy Contador Público siempre me gustó el mundo de la informática, y es por eso que decidí comenzar a incorporar nuevos conocimientos y herramientas que me ayuden a evolucionar tanto personal como laboralmente.
    
    La idea de Bote surgió hace un tiempo y con la ayuda de lo aprendido durante el curso de Python en Coderhouse pude plasmarla 
    ¡Espero que les guste!</p>
        
    </div>
<br><br>
{% endblock %}