{% extends "AppCoder/padre.html" %} <!--la fuente de nuestros datos-->
    {% load static %}  <!--Toma lo que está dentro de la carpeta "static"-->
{% block contenidoQueCambia %}

    <!--Aqui se va a colocar lo que se cambia. Y está asociado a esta vista-->
   
    <br>
    <br>
    <h3 style="color:black; text-align:center">¡Te suscribiste con éxito!</h3>
    <p style="color:black; text-align:center">A partir de ahora comenzarás a recibir las últimas ofertas que tiene Bote para vos</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% endblock %}